
.btn-secondary{
    background-color: #F36448;
    border: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #444647;



}
.header{
    width: 100%;
    background-image: url('../img/header-blog.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    height: 300px;
    
}
.header .container{
    height: 300px;
    display: flex;
    align-items: center;

}

.header h1{
    color: #fff;
    
}
.overlay {
    position: absolute;
    min-height: 300px;/*min-height: 100%;  del padre */
    min-width: 100%; /* del padre  (244, 244, 244, 0.79);*/
    background-color: rgba(15, 58, 98, 0.79);
}

.entrada-img{
    position: absolute;
}

a{
    color: #F36448; 
 }

a:hover{
    color: #0F3A62; 
 }




.expert{
    background-color: #E1EDF7;
    /*margin-left: 3rem;*/
    padding: 2rem;

}

.expert img{
    border-radius: 50%;
    display: flex;
    align-items: center;
  

}

.entrada-text h2{
    color: #0F3A62;
    margin-bottom: 2rem;
}
.entrada-text h3{
    color: #797B7C;
    font-size: 24px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.quote{
    color: #797B7C;
    font-family: serif;
    font-weight: bold;
    font-stretch: expanded;
    padding: 3rem;

}

.footer{
    background-color: #0F3A62;
    color: #fff;
    width: 100%;
    margin-top: 4rem;
    position: relative;
    padding: 1rem;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#F36448;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.my-float a:hover{
	color: #0F3A62;
}